Pseudo Keyword,C Equivalent,Purpose
START / STOP,main() { ... },Program Entry/Exit
VAR x AS INT,int x;,Declaration
SET x TO 5,x = 5;,Assignment
"SHOW ""Hi""","printf(""Hi"");",Output
GET x,"scanf(""%d"", &x);",Input
IF / ELSE / ENDIF,if / else,Conditionals
WHILE / DONE,while(cond) { },Looping